/* 기본 설정 */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

h1 {
    font-size: 3em;
    background: linear-gradient(270deg, #ff0000, #00ff00, #0000ff);
    background-size: 600% 600%;
    background-clip: text; /* 표준화될 경우를 대비해 추가 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* 텍스트 내부를 투명하게 */
    animation: wave 10s ease infinite;
}

@keyframes wave {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

a {
    text-decoration: none;
    color: #007BFF;
    font-size: 1.2em;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}

/* CSS 변수를 사용한 기본 설정 */
body {
    --button-border-radius: 50%;
    --button-bg: transparent;
    --button-stroke-1: #5a5456;
    --button-stroke-2: #5a5456;
    --button-stroke-width: 1px;
    --button-text: #ffffff;
    --button-bg-hover: transparent;
    --button-stroke-hover-1: #31a290;
    --button-stroke-hover-2: #31a290;
    --button-stroke-width-hover: 1px;
    --button-text-hover: #fff;
    --cursor-stroke: #330ec1;
    --cursor-fill: #330ec1;
    --cursor-stroke-width: 1px;
    --color-text: #ffffff;
    --color-bg: #1e1e23;
    --color-link: #e20c6a;
    --color-link-hover: #5a5456;
}

/* 버튼 스타일 */
.button {
    cursor: pointer;
    border: 0; /* 기본 border 제거 */
    color: var(--button-text);
    background: none;
    width: 10rem;
    height: 10rem;
    padding: 0;
    margin: 1rem;
    font-family: inherit;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* focus 상태에 대한 스타일 */
.button:focus,
.button--hover {
    outline: none; /* 기본 outline 제거 */
    border-color: var(--button-stroke-hover);
    color: var(--button-text-hover);
    background: var(--button-bg-hover);
}

.button__deco {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: var(--button-stroke-width);
    border-style: solid;
    border-radius: var(--button-border-radius);
}

.button__deco--1 {
    border-color: var(--button-stroke-1);
}

.button--hover .button__deco--1 {
    border-color: var(--button-stroke-hover-1);
}

.button__deco--2 {
    border-color: var(--button-stroke-2);
}

.button--hover .button__deco--2 {
    border-color: var(--button-stroke-hover-2);
}

.button__text,
.button__text-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.button__text {
    overflow: hidden;
}
